{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

<div class="uk-height-viewport uk-flex uk-flex-middle uk-container">
  <div class="uk-width-1-1@m m-auto iq-border bg-white rounded uk-padding-small" style="    min-height: 90vh; ">

    <div class="uk-flex uk-flex-center" style="padding-top: 10pt;">
      <p>{% trans "Password Reset" %}</p>
    </div>



     <div class=" uk-animation-slide-bottom-medium ">

                <div class="my-4 ">

    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="button info xlarge" value="{% trans 'Reset My Password' %}" />
    </form>

    


    

      <style type="text/css">
        input{
    max-width: 100%;
    width: 100%;
    border: 0 none;
    padding: 0px 0px;
    background: #fff;
    color: #666;
    /* font-weight: 600; */
    border: 2px solid #eceff5;
    border-radius: 7px;
    transition: 0.2s ease-in-out;
    transition-property: color, background-color, border;

    padding-left: 7px !important;
    padding-right: 75px !important;

        height: 43px;
    vertical-align: middle;
    display: inline-block;
        }
      </style>


                    

                    
                </div>

            </div>  












<div class="uk-child-width-1-1 uk-text-center " uk-grid>
        <p class="uk-text-center my-4" style="padding-top: 12px;">
                        {% blocktrans %}Any trouble resetting your password ?.{% endblocktrans %}
                    <a href="{% url 'Contact' %}" >
                    <label class="text-blue">Get help</label>
                    </a>
                    </p>
        
        
                 </div>
    
</div>
</div>

{% endblock %}
