{% extends 'Main/Base/base.html' %}

{% block title %}  About - Plural {% endblock %}

{% block content %}
{% load static %}




            <div class="uk-width-2-3">
                <p class="text-black">
                    About Plural
                </p>
                <p class="uk-text-bold text-black qt-font-n  uk-heading-large" >
                    N#1 directory for Progressive Web Apps (PWAs)
                </p>
                <p class="uk-text-medium">
                  Here you can find hundreds of web-based applications that are compatible with all devices.
                </p>
            </div>

            <div class="uk-width-2-3">
                <p class="uk-text-bold text-black qt-font-writer uk-heading-small" style="padding-top: 12px; padding-bottom: 23px;" >
                    What are Progressive Web Apps?
                </p>
                <p class="uk-text-medium">
                 Progressive Web Apps (PWAs) are the future of apps. Advancements in web browser technologies have made it possible to create web-based applications that mimic and offer the same functionality as native (traditional) applications. This means that apps can now be made just as easily as websites, and that developers no longer need developer licenses to distribute them.Just like an increasing number of desktop-based applications nowadays offer their functionality online, mobile applications are about to move to the browser as well.
                </p>
            </div>

            <div class="uk-width-2-3">
                <p class="uk-text-bold text-black qt-font-writer uk-heading-small" style="padding-top: 12px; padding-bottom: 23px;" >
                    Author
                </p>

                <div class="uk-grid">
    <div class="uk-width-1-4">

       <div class="embed-video embed-item rounded-xlg iq-border uk-background-cover" data-src="{% static 'images/mulberry.jpeg'%}" uk-img="" style="background-image: url(&quot;{% static 'images/mulberry.jpeg'%}&quot;);">

                    
                    <span class="broadcast_content_icon_list uk-flex uk-flex-middle">

                    </span>
                    </div>
      
    </div>

    <div class="uk-width-expand">

      <p class="text-black uk-text-xlarge uk-text-bold">Müli Berry Dzhobs</p>
      <p class=" text-grey uk-text-large">Cloud Computing Engineer</p>
      <p style="padding-top: 25px;">
        <a href="https://read.cv/berrydzhobs" class="button circle primary">Read CV</a>
      </p>
      
    </div>

  </div>
    <p class="uk-text-medium" style="padding-top: 25px;">
  🍇 Mulberry, also known as Muli berry dzhobs, is a bright and motivated student at:  <a href="https://ocw.mit.edu/"><b>MIT</b></a> 

    <br>

   With a passion for <i><b>Cloud Computing</b></i>. He carries a robust skill set and<i> <b>a thirst for knowledge </b></i>

    
    </p>

    <ul class="uk-text-medium" >
<li>
<p><b>Cloud Technologies</b>: AWS (CloudFormation, EC2, S3, Lambda, RDS, etc.)</p>
</li>
<li>
<p><b>Machine Learning</b>: Continuously expanding expertise in Cloud Machine Learning solutions</p>
</li>
<li>
<p><b>Front-End Development</b>: React, HTML, CSS, JavaScript, UIkit</p>
</li>
<li>
<p><b>Back-End Development</b>: Python, Django</p>
</li>
<li>
<p><b>Databases</b>: PostgreSQL, MongoDB</p>
</li>
<li>
<p><b>CI/CD</b>: GitHub Actions, GitLab CI, Travis CI, CircleCI, TeamCity</p>
</li>
<li>
<p><b>DevOps</b>: Docker, Terraform, Ansible, Bash, Unix, Debian/Ubuntu, Nginx, Cron, Jenkins</p>
</li>
</ul>
    <p class="uk-text-medium">
        More at <a href="https://github.com/berrydzhobs"><b>github.com/berrydzhobs</b></a>.
    </p>
  </div>






{% endblock %}