{% extends 'Main/Base/base.html' %}
{% block title %} Contact us{% endblock %}

{% block content %}
{% load static %}



<div class="uk-container">
<div class="uk-grid-large uk-grid" uk-grid="">
               

                    <!-- sidebar -->
                    <div class="uk-width-1-1@m" style="padding-top: 12px;">


                        

                        



                                <p>Reach out to  for help or issues related to this project</p>

                                <ul class="uk-accordion" uk-accordion="multiple: true">

                                    <li class="uk-open">
                                        <a class="uk-accordion-title" href="#">Support</a>
                                        <div class="uk-accordion-content bg-pH uk-padding-small rounded-sm" aria-hidden="false">
                                          <p>
                                            Help / got to /
                                            <span>https://github.com/berrydzhobs/ and name of this project</span>
                                          </p>

                                          <p>
                                            Mail me at / 
                                              <span>berrydzhobs@gmail.com</span>
                                          </p>
                                        </div>
                                    </li>


                                    <li class="uk-open">
                                        <a class="uk-accordion-title" href="#">Buy me a coffee</a>
                                        <div class="uk-accordion-content bg-pH uk-padding-small rounded-sm" aria-hidden="false">
                                         <p >
                                             <a href="https://buymeacoffee.com/strerium">Buy me a coffee @Strerium</a>
                                         </p>
                                        </div>
                                    </li>




                                    <li class="uk-open">
                                        <a class="uk-accordion-title" href="#">Twitter</a>
                                        <div class="uk-accordion-content bg-pH uk-padding-small rounded-sm" aria-hidden="false">
                                         <p >
                                             <a href="https://twitter.com/strerium">berrydzhobs</a>
                                         </p>
                                        </div>
                                    </li>



                                </ul>






                    </div>
                </div>
</div>


{% endblock %}