<div class="uk-hidden@m">
<style type="text/css">
     .pdw{
            background: rgba(255,255,255,0.01);
    backdrop-filter: blur(2.7vw);
     }
 </style> 

<div class="M41N-H34D3R-70P  h-5H4D0W M41N-H34D3R pdw
  uk-hidden@m">
            <header class="">
                <div class="H34D3R-1NNR">
                    <!-- Logo-->


                    <div class="uk-navbar-left" id="logo">
                        <div class="uk-flex uk-flex-middle ">
                            <a href="/" class="text-black uk-logo qt-font-p uk-hidden@m rounded" uk-tooltip="title:Logo; pos: bottom ;offset:7;" >
                                
                          <img src="https://open.strerium.com/static/images/open.png" width="150">
                        </a>
                        </div>


                    </div>


                    <div class="uk-navbar-center">



                        
                            
                        </div>



                    
                    <!-- user icons -->
                    <div class="head_user">

                        <a href="" uk-toggle="target: #wrapper ; cls: collapse-sidebar mobile-visible">
                            <svg width="25px" height="15px" viewBox="0 0 20 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="hamburger-icon" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="hamburger-icon" fill="#1B1D20">
                                <g id="Group">
                                    <rect id="Rectangle" x="0" y="0" width="20" height="2"></rect>
                                    <rect id="Rectangle" x="0" y="5" width="14" height="2"></rect>
                                    <rect id="Rectangle" x="0" y="10" width="20" height="2"></rect>
                                </g>
                            </g>
                        </g>
                    </svg>
                        </a>


                        
                       
                            </div>
                            
                            </div> 
                            <!-- / heaader-innr  ₿ -->
                            </header>
                            </div>
                        </div>

<script>
var prevScrollpos = window.pageYOffset;
window.onscroll = function() {
var currentScrollPos = window.pageYOffset;
  if (prevScrollpos > currentScrollPos) {
    document.getElementById("M5").style.top = "0";
  } else {
    document.getElementById("M5").style.top = "-56px";
  }
  prevScrollpos = currentScrollPos;
}
</script> 