    <div class="main_sidebar bg-white">

    <div class="side-overlay" uk-toggle="target: #wrapper ; cls: collapse-sidebar mobile-visible;"></div>


        <!-- sidebar header -->
        <div class="sidebar-header">
            <div  uk-toggle="target: #wrapper ; cls: collapse-sidebar mobile-visible">
                        <span></span></div><h4 class="uk-text-center">
            <i class="mdi-cards mdi icon-medium"></i>
            </h4>
        </div>
      
      <div class="sidebar rounded-sm">
            {% include  "Main/Base/menu.html" %}
      </div>

    </div>