{% load static %} 
<footer class="uk-section bg-pH  uk-section-small uk-box-shadow-large" style="border-top-right-radius: 2px; border-top-left-radius: 2px;margin-top: 37px;">
  <div class="uk-container uk-text-muted">
    <div class="uk-child-width-1-2@s uk-child-width-1-3@m uk-grid" data-uk-grid="">
      
      

      <div class="">
        <h5 class="text-black">Project</h5>
        <ul class="uk-list">
          <li><a class="uk-link-muted" href="{% url 'about' %}">About</a></li>
          <li><a class="uk-link-muted" href="{% url 'contact'  %}">Contacts</a></li>

  
        </ul>

        
      </div>
      <div class="">
        <h5 class="text-black">Legal</h5>
        <ul class="uk-list">
          <li><a class="uk-link-muted" href="{% url 'terms'  %}">Terms</a></li>
          <li><a class="uk-link-muted" href="{% url 'privacy'  %}">Privacy</a></li>
          <li><a class="uk-link-muted" href="{% url 'cookie-policy'  %}">Cookie policy</a></li>
          <li><a class="uk-link-muted" href="{% url 'disclaimer'  %}">Disclaimer</a></li>
        </ul>
      </div>   
 


      <div class="uk-flex-first@m border-r">
        <div class="mb-2">
          <span class="logo-txt bg-transparent  uk-flex uk-flex-middle"> 
            <p class="text-black  uk-logo" style="font-size: 20px !important;">
              <span class="font-writer text-black">Plural</span> <span class="text-purple">web</span>
            </p>
                        </span>
        </div>

        <ul class="uk-list">
          <li><a class="uk-link-muted text-black" href="{% url 'terms'  %}">United States</a></li>
          <li><a class="uk-link-muted text-black" href="{% url 'privacy'  %}">English (United States)</a></li>
        </ul>


      </div>

    </div>
  </div>
</footer>
<header class="main-header   bg-pH  uk-flex uk-flex-middle   ">
        <div class="uk-width-1-1">
      <div class="section-header uk-flex uk-flex-middle  pt-0 pb-0">
          <div class="section-header-left uk-flex uk-flex-middle">
        
            <p  style="margin-top: 12px; margin-left: 7px" class="text-black"> Copyright &copy; <a href="https://read.cv/berrydzhobs">Mul<b>berry</b></a> <script>document.write(new Date().getFullYear());</script></p>

                        
 
          </div>
          </div>
      </div>
    </header>