{% extends 'Main/Base/base.html' %}
{% block title %} Earning Disclaimer {% endblock %}

{% block content %}
{% load static %}



   <!-- Content
    ================================================== -->
    <div uk-height-viewport="expand: true" class="uk-height-viewport">

      
        <div class="pt-0 uk-width-2-3@m">
            <div class="uk-container">

                  

                    
            <div class="">
                    

               <h1 class="text-black">EARNINGS DISCLAIMER</h1>

                    <p>We aim to provide the best business information possible and in doing so we often mention and recommend products.</p>

<p>Some, but not all, of the services and products on the site may pay us a referral fee or commission when customers get approved for certain products or services.</p>

<p>This compensation makes it possible for us to continue providing you the best financial information possible.</p>

<p>&nbsp;</p>

<p>All of the analysis, opinions, and research on the site are the author&#39;s and advertisers have no editorial input.</p>

<p>We appreciate your trust that we will provide the most accurate information and using our links to apply for various products helps us continue providing you the best information available.</p>

<p>&nbsp;</p>

<p>We strive to keep our information accurate and up to date but that is not always possible. In the event of a discrepancy, follow the details on the provider&#39;s website. There may be times where you visit a business, service provider, or a product&#39;s site and see something different. All of our information is presented without warranty and while we try to maintain accurate information, it&#39;s difficult to in such a rapidly changing environment. The financial institution, service provider, or a product&#39;s website has the most accurate information.</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>For example, we are a participant in the Amazon Services LLC Associates Program, an affiliate advertising program designed to provide a means for sites to earn advertising fees by advertising and linking to amazon.com.</p>

<p>Finally, this site contains user-generated content. This content is not provided or commissioned by any of our advertisers. Responses have not been reviewed, approved or otherwise endorsed by our advertisers and it is not the bank advertiser&#39;s responsibility to ensure all posts and/or questions are answered.</p>

<p>If you have any questions about our advertising or affiliate relationships, please&nbsp;<a href="mailto:berrydzhobs@gmail.com" rel="noopener noreferrer" target="_blank">contact us</a>.</p>

<p>&nbsp;</p>
             

            </div>
            

                    
                 

            </div>       
        </div>
    </div>

{% endblock %}