{% extends 'Main/Base/base.html' %}
{% block title %} Privacy {% endblock %}

{% block content %}
{% load static %}


   <!-- Content
    ================================================== -->
    <div uk-height-viewport="expand: true" class="uk-height-viewport">

      
        <div class="pt-0 uk-width-2-3@m">
            <div class="uk-container">
                  

                    
            <div class="">
                    

                <h3 style="color:black !important;">Plural ADVERTISING PRIVACY STATEMENT</h3>

<p>This Site is affiliated with AdThrive, LLC (&ldquo;AdThrive&rdquo;) for the purposes of placing advertising on the Site. &nbsp;</p>

<p>AdThrive uses standard and widely-available tools for the placement and serving of ads, including those provided by Google, Inc. and its affiliates.</p>

<p>We publish interest-based advertisements on the Site; that is, ads that are tailored to reflect your interests.</p>

<p>To help understand your interests, AdThrive, Google and our other advertising partners will track your behaviour on our website and on other websites across the Internet using cookies. &nbsp;</p>

<p>A cookie is a file containing an identifier (a string of letters and numbers) that is sent by a web server to a web browser and is stored by the browser.</p>

<p>The identifier is then sent back to the server each time the browser requests a page from the server.</p>

<p>Cookies may be either &ldquo;persistent&rdquo; cookies or &ldquo;session&rdquo; cookies: a persistent cookie will be stored by a web browser and will remain valid until its set expiry date, unless deleted by the user before the expiry date; a session cookie, on the other hand, will expire at the end of the user session, when the web browser is closed. &nbsp;</p>

<p>Cookies do not typically contain any information that personally identifies a user, but personal information that we store about you may be linked to the information stored in and obtained from cookies.</p>

<p>By using this Site, you consent to the use of such cookies and the sharing of data captured by such cookies with AdThrive, Google, and our other third party partners. You can view, delete or add interest categories associated with your browser by visiting:&nbsp;<a href="https://adssettings.google.com/" target="_blank">https://adssettings.google.com</a>. You can also opt out of the network cookie using those settings or using the Network Advertising Initiative&#39;s multi-cookie opt-out mechanism at:&nbsp;<a href="http://optout.networkadvertising.org/" target="_blank">http://optout.networkadvertising.org</a>. However, these opt-out mechanisms themselves use cookies, and if you clear the cookies from your browser your opt-out will not be maintained. &nbsp;</p>

<h3>For European Economic Area Residents</h3>

<p>&nbsp;</p>

<p>If you reside in a country in the European Economic Area (EEA), then under the GDPR and applicable data protection laws you have the rights, among other things, to access your personal data, have us erase it, and/or restrict its further processing.</p>

<p>&nbsp;If you wish to access or delete your personal data (if any) maintained by us or AdThrive related to advertising on the Site, you can&nbsp;<a href="https://www.Plural.com/contact/" target="_blank">contact us here</a><strong>&nbsp;</strong>and contact&nbsp;AdThrive at&nbsp;<a href="mailto:info@adthrive.com" target="_blank">info@adthrive.com</a>.</p>

<p>If you wish to see a list of the advertising partners we work with or change which of those partners track your behavior using cookies, click the ad preferences link at the bottom of the site. (Available in the EU.)</p>

<p>&nbsp;</p>

<h3>Privacy Policy for&nbsp; Plural web</a></h3>

<p>If you require any more information or have any questions about our privacy policy, please feel free to&nbsp;<a href="mailto:berrydzhobs@gmail.com" rel="noopener noreferrer" target="_blank">contact us</a>.</p>

<p>At Plural, the privacy of our visitors is of extreme importance to us.</p>

<p>This privacy policy document outlines the types of personal information is received and collected by Plural.com and how it is used.</p>

<h3>&nbsp;</h3>

<h3><strong>Log Files</strong></h3>

<p><br />
Like many other Web sites, Plural.com makes use of log files.</p>

<p>The information inside the log files includes internet protocol ( IP ) addresses, type of browser, Internet Service Provider ( ISP ), date/time stamp, referring/exit pages, and number of clicks to analyze trends, administer the site, track user&rsquo;s movement around the site, and gather demographic information.</p>

<p>IP addresses, and other such information are not linked to any information that is personally identifiable.</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<h3><strong>Cookies and Web Beacons</strong></h3>

<p><br />
Plural.com does use cookies to store information about visitors preferences, record user-specific information on which pages the user access or visit, customize Web page content based on visitors browser type or other information that the visitor sends via their browser.</p>

<p>&nbsp;</p>

<h3><strong>Amazon Associates Program</strong></h3>

<p>Plural.com is a participant in the Amazon Services LLC Associates Program, an affiliate advertising program designed to provide a means for sites to earn advertising fees by advertising and linking to Amazon.com.</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<h3><strong>DoubleClick DART Cookie</strong></h3>

<p>&nbsp;</p>

<div class="rounde-sm" style="background:#eeeeee; border:1px solid #cccccc; padding:5px 10px">
<p><br />
Google, as a third party vendor, uses cookies to serve ads on Plural.com.</p>

<p><br />
Google&#39;s use of the DART cookie enables it to serve ads to users based on their visit to Plural.com and other sites on the Internet.</p>

<p><br />
Users may opt out of the use of the DART cookie by visiting the Google ad and content network privacy policy at the following URL &ndash;&nbsp;<a href="https://www.google.com/privacy_ads.html" target="_blank">http://www.google.com/privacy_ads.html</a></p>
</div>

<p>&nbsp;</p>

<p>Some of our advertising partners may use cookies and web beacons on our site. Our advertising partners include &hellip;.<br />
Google Adsense<br />
Commission Junction<br />
Clickbank<br />
Amazon Associates</p>

<p>These third-party ad servers or ad networks use technology to the advertisements and links that appear on Plural.com send directly to your browsers.</p>

<p>They automatically receive your IP address when this occurs. Other technologies ( such as cookies, JavaScript, or Web Beacons ) may also be used by the third-party ad networks to measure the effectiveness of their advertisements and / or to personalize the advertising content that you see.</p>

<p>Plural.com has no access to or control over these cookies that are used by third-party advertisers.</p>

<p>You should consult the respective privacy policies of these third-party ad servers for more detailed information on their practices as well as for instructions about how to opt-out of certain practices.</p>

<p>Plural.com&#39;s privacy policy does not apply to, and we cannot control the activities of, such other advertisers or web sites.</p>

<p>If you wish to disable cookies, you may do so through your individual browser options.</p>

<p>More detailed information about cookie management with specific web browsers can be found at the browsers&#39; respective websites</p>

                  
             

            </div>
            

                    
                 

            </div>       
        </div>
    </div>

{% endblock %}